{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2 class="text-center mb-4">Ваш кошик</h2>

    <div class="row">
        {% for item in cart_items %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ item.name }}</h5>
                    <p class="card-text"><strong>Ціна:</strong> {{ item.price }} грн</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="text-right">
        <h4>Загальна сума: {{ total_price }} грн</h4>
    </div>
</div>
{% endblock %}
