{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-12 text-center">

            <p>Наша піцца виготовляється з найсвіжіших інгредієнтів, ми використовуємо тільки натуральні продукти, і кожен шматок – це неперевершений смак і аромат!</p>
            <p>Чому ми унікальні?</p>
            <ul class="list-unstyled">
                <li>Ми робимо піцу на індивідуальний смак!</li>
                <li>Ми використовуємо тільки свіжі інгредієнти.</li>
                <li>Наша піцца завжди з приємним хрустким тестом!</li>
            </ul>
            <a href="{{ url_for('get_menu') }}" class="btn btn-primary btn-lg">Перегляньте наше меню</a>
        </div>
    </div>
</div>
{% endblock %}
